/************************************************
     CUSTOM PROPERTIES
 ************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       --first-color:#006CFA;
       --second-color:#00E165;
   
    /* COLOR TEXT */ 
   
       --first-text:#FFFFFF;
       /* --second-text:white;
       --third-text:#6A6A6A; */
   }
   