/************************************************
     CUSTOM PROPERTIES
 ************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       /* --first-color:#141922;
       --second-color:#282828; */
   
    /* COLOR TEXT */ 
   
       /* --first-text:#4A4E54;
       --second-text:white;
       --third-text:#6A6A6A; */
   }
   