/*************************************************
          RESET
 *************************************************/

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
 *************************************************/

body{
    font-family: 'Montserrat', sans-serif;     
}

/************************************************
     CUSTOM PROPERTIES
 ************************************************/

 :root{
 
    /* COLOR BACKGROUND*/
   
       --first-color:#006CFA;
       --second-color:#00E165;
   
    /* COLOR TEXT */ 
   
       --first-text:#FFFFFF;
       /* --second-text:white;
       --third-text:#6A6A6A; */
   }
   
 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */

 
 /************************************************
     SITE SECTIONS
  ************************************************/

 /*  EXERCISE 1 */
 
.container {
    background-color:var(--first-text);
    height: 100vh;
    margin: 1px 0px;
    font-size: 10px;
    color: white;
}

.row{
  background-color: var(--first-color);
  height: 8%; 
  margin:1px;
}

[class*="col-"]:not(.green-container){
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-container{
    padding: 10px;
}




/*  EXSERCISE 2 */



 /*  EXSERCISE 3  */

/************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY MOBILE-FIRST
************************************************/

/* 
    MOBILE BIG 
*/

@media screen and (min-width:576px){

    /* COLUMNS */

    

}


/* 
  TABLET
*/

@media screen and (min-width:768px){

}

/*
  DESKTOP
*/
 
@media screen and (min-width:992px){

}



/*************************************************
     SOLUZIONE RESPONSIVE-MEDIA-QUERY DESKTOP-FIRST
*************************************************/




    /*************************************************
        DEBUG
     *************************************************/
    
    
    .debug .container .col-1,
    .debug .container .col-2:not(.nested),
    .debug .container .col-3,
    .debug .container .col-4,
    .debug .container .col-5,
    .debug .container .col-6:not(.nested),
    .debug .container .col-7,
    .debug .container .col-8:not(.nested),
    .debug .container .col-9,
    .debug .container .col-10,
    .debug .container .col-11,
    .debug .container .col-12{
        border-left:2px solid white;
    }




    .debug .nested{
        background-color: var(--second-color);
        padding:5px;
        border-left:2px solid var(--first-color);
    }