/*************************************************
          RESET
 *************************************************/

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
 *************************************************/

body{
    font-family: 'Montserrat', sans-serif;     
}

 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */

 /* .my-container{
    max-width: 1200px;
    margin: 0 auto;
 } */

 /************************************************
     SITE SECTIONS
  ************************************************/

 /*  MAIN CONTENT  */






 /*  FOOTER  */

/************************************************
    SOLUZIONE RESPONSIVE-MEDIA-QUERY MOBILE-FIRST
************************************************/

/* 
    MOBILE BIG 
*/

@media screen and (min-width:576px){

    /* COLUMNS */

    

}


/* 
  TABLET
*/

@media screen and (min-width:768px){

}

/*
  DESKTOP
*/
 
@media screen and (min-width:992px){

}



/*************************************************
     SOLUZIONE RESPONSIVE-MEDIA-QUERY DESKTOP-FIRST
*************************************************/




    /*************************************************
        DEBUG
     *************************************************/
    
     .debug #main-content,
     .debug #main-content > aside,
     .debug #main-content > main,
     .debug footer{
         border:2px dashed red;
    }

    .debug #main-content{
        background-color: lightcoral;
    }

    
    .debug #main-content > aside {
        background-color: aqua;
    }
        
    .debug footer{
        background-color: aquamarine;
    }

    .debug footer > *{
        background-color: purple;
    }
