*{
    margin: 0 auto;
    padding:0;
    box-sizing: border-box;
}
/* .container{
    
} */

.row{
    height:500px;
    background-color: lightcoral;
}


.col1{
    background-color: black;
    height:2rem;
}
